@model proyectosoft1._4.Models.Comercio

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComNombre)
        </dd>
        <dt class = "col-sm-2">
         Ubicacion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComUbicacion)
        </dd>
        <dt class = "col-sm-2">
          Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComDescripcion)
        </dd>
        <dt class = "col-sm-2">
         Direccion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComDireccion)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
