@model IEnumerable<proyectosoft1._4.Models.Comercio>

@{
    ViewData["Title"] = "Comercio";
}

<h1 class="mb-4">Comercios</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-info">Agregar comercio</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             Nombre
            </th>
            <th>
             Ubicacion
            </th>
            <th>
               Descripcion
            </th>
            <th>
               Direccion
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComDireccion)
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ComId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ComId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
