@model IEnumerable<proyectosoft1._4.Models.Ubicacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UbUbicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UbUbicacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UbId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UbId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
