@model proyectosoft1._4.Models.Producto

@{
    ViewData["Title"] = "Detalle producto";
}

<h1>Detalles</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProNombre)
        </dd>
        <dt class = "col-sm-2">
           Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPrecio)
        </dd>
        <dt class = "col-sm-2">
           Disponible
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDisponible)
        </dd>
        <dt class = "col-sm-2">
          Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
